.pages-menu .phone-container,
.levels-index .phone-container {
    background-image: asset-url('shapes-space.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 80vh;
}
.pages-menu, .pages-menu {
    margin: 0;
    height: 100%;
}