<div class="menu-page phone-container">
    <div class="menu-card-box">
      <h1 class="menu-title" style="color: #64b4ea; font-family: 'Fredoka', sans-serif;
    letter-spacing: 2px">MENU</h1>

    <div class="menu-buttons-list">
        <%= link_to levels_path, class: "btn btn-custom-menu" do %>
            START
            <% end %>
        <%= link_to instructions_path, class: "btn btn-custom-menu" do %>
            INSTRUCTION
            <% end %>
        <%= link_to profile_path, class: "btn btn-custom-menu" do %>
            MY PROFILE
            <% end %>
        </div>
    </div>
</div>

            








