<h1>Try Again!</h1>

<p><%= @message %></p>

<!-- Character Placeholder -->
<div id="character-container">
  <!-- character image will go here later -->
</div>

<!-- Navigation -->
<%= link_to "Try Again", level_path(@level) %>
<br>
<%= link_to "Main Menu", menu_path %>
