<div class="game-container"
    data-level-id="<%= @level.id %>"
    data-level-number="<%= @level.level_number %>">
  <div id="timer-container">
      <div id="timer-bar"></div>
  </div>
  <div id="game-canvas"></div>
</div>
<=% javascript_include_tag "game" %>
